
/* css */

body {
  font-family: "Arimo", sans-serif;
}
.ltblack {
  background-color: #000214;
}
.greyish {
  background-color: #dfe3d9;
}
.olive {
  background-color: #a5af9e;
}
a {
  text-decoration: none;
  fill: #bc141d;
}

.black {
  color: #000000;
}

p {
  font-weight: bold;
  color: #000000;
  font-size: 0.75rem;
}
